.login-input {
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(71, 71, 71);
}
.login-btn {
  width: 150px;
  border: none;
  background-color: rgba(7, 61, 240, 0.61);
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 10px 0;
}
