.variation {
  background: radial-gradient(
    circle,
    rgba(71, 67, 125, 1) 0%,
    rgba(0, 160, 255, 1) 50%,
    rgba(7, 76, 158, 1) 78%
  );
  color: white;
  text-align: center;
  padding: 10px;
}
.variation-btns button {
  width: 150px;
  border: 1px solid white;
  border-radius: 30px;
  margin: 10px 20px;
  padding: 10px;
  background-color: rgba(68, 111, 230, 0.404);
  color: white;
}
.variation-btns i {
  margin-right: 10px;
}
