.navbar {
  background: radial-gradient(
    circle,
    rgb(118, 111, 219) 0%,
    rgb(0, 162, 255) 50%,
    rgba(7, 76, 158, 1) 78%
  );
}
.header-link {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 4px 10px;
}
.header-link:hover {
  background-color: rgba(255, 255, 255, 0.473);
  color: black;
  border-radius: 5px;
}
.header-btn {
  border: none;
  background: none;
  color: white;
  margin: 10px;
  padding: 4px 10px;
}
.header-btn:hover {
  background-color: rgba(255, 255, 255, 0.473);
  color: black;
  border-radius: 5px;
}
